* {
	box-sizing: border-box;
	transition: .3s;
}

body {
	padding: 0;
	margin: 0;
}

.main-pg {
	background: url("images/background.jpg");
	background-size: cover;
	padding-bottom: 60px;
	padding-top: 40px;
	padding-left:40px;
	background-position: center center;
    height: 100vh;
    position: relative;
}

.top-left {
	position: absolute;
	top: 10px;
	left: 20px;
}

.esc {
	height:100px;
	width: auto;
	margin-top: 0;
}

.title {
	font-size: 60px;
	color: white;
	font-family: Arial;
	display: inline;
	margin-left: 20px;
	margin-top: 15px;	
}

.top-right {
	position: absolute;
	top: 10px;
	right: 10px;
}

.mytrips-button {
	border: 2px solid white;
	border-radius: 12px;
	color: white;
	padding: 15px;
	font-size: 20px;
	display: inline;
	float: right;
	margin-right: 20px;
	margin-top: 8px;
	text-decoration: none;
}

.mytrips-button:hover {
	background-color: white;
	text-decoration: none;
}

.slogan {
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 60px;
	color: white;
	margin-top: 170px;
}

.app-button {
	height: 120px;
	width: auto;
	display: block;
	margin: 0 auto;
}

.down-arrow {
	height: 50px;
	width: auto;
	display: block;
	margin: 0 auto;
	margin-top: 300px;
}


/*"choose your itinerary" chunk*/

.itinerary {
	height: 400px;
	background-color: #F1F1F1;
	position: relative;
}
.iphone1 {
	height: 380px;
	float: right;
	margin-right: 200px;
	margin-top: 21px;
}
.text1 {
	width: 600px;
	position: absolute;
	top: 130px;
	left: 200px;
	text-align: center;
}
.title1 {
	margin: 0;
	display: inline;
	font-size: 50px;
}
.description1 {
	font-size: 30px;
	padding-top: 10px;
}


/*"list of activities" page*/
.activities {
	height: 400px;
	background-color: white;
	position: relative;
}
.iphone2 {
	height: 380px;
	float: left;
	margin-left: 200px;
	margin-top: 21px;
}
.text2 {
	width: 600px;
	position: absolute;
	top: 80px;
	right: 150px;
	text-align: center;
}
.title2 {
	margin: 0;
	display: inline;
	font-size: 50px;
}
.description2 {
	font-size: 30px;
	padding-top: 10px;
}

/*"map your route" page*/
.map {
	height: 400px;
	background-color: #F1F1F1;
	position: relative;
}
.iphone3 {
	height: 380px;
	float: right;
	margin-right: 200px;
	margin-top: 21px;
}
.text3 {
	width: 600px;
	position: absolute;
	top: 130px;
	left: 150px;
	text-align: center;
}
.title3 {
	margin: 0;
	display: inline;
	font-size: 50px;
}
.description3 {
	font-size: 30px;
	padding-top: 10px;
}

/* just app button */
.download-app {
	height: 200px;
	background-color: white;
	position: relative;
}
.app-button2 {
	height: 150px;
	width: auto;
	position: absolute;
	left: 40%;
}

/* footer */
.footer {
	height: 200px;
	background-color: black;
	color: white;
	position: relative;
}

.footer-items {
	position: absolute;
	top: 50px;
	left: 250px;
	font-size: 30px;
}

.footer p {
	display: inline;
	padding: 35px;
}


#app-pg {
	height: 1000px;
	transform: transition(.3);
}


/* newtrip2 page */
.main-pg2 {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/background2.jpg");
	background-size: cover;
	background-position: center center;
    height: 100vh;
}

.contents {
	margin: 0px auto;
	width: 50%;
}

.choose-location-all {
	text-align: center;
}

.choose-location {
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 60px;
	color: white;
	padding-top: 50px;
}

.type-location {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 50px;
	height: 60px;
	
	border-radius: 5px;
}

.choose-activities {
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 60px;
	color: white;
	margin-top: 40px;
}
.select-activity{
	left: 50%;
	padding-top: 10px;
	padding-bottom: 30px
	padding: 10px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
	font-size: 30px;
}

.amount-time {
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 60px;
	color: white;
	margin-top: 40px;
}
.select-time{
	left: 50%;
	padding-top: 10px;
	padding-bottom: 30px
	padding: 10px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
	font-size: 30px;
	text-align: center;
}

.get-itinerary {
	border: 2px solid white;
	border-radius: 12px;
	color: white;
	padding: 15px;
	font-size: 30px;
	text-decoration: none;
	display: block;
	width: 50%;
	text-align: center;
	margin-left: 180px;
	margin-top: 80px;
}

.get-itinerary:hover {
	background-color: white;
	text-decoration: none;
}

/*mytrips page stuff*/
.myNavbar {
	height: 100px;
	background-color: #296DD4;
	position: relative;
}

.nav-esc {
	height: 80px;
	width: auto;
	margin-top: 10px;
	margin-left: 15px;
}

.nav-options {
	list-style-type: none;
	font-family: "Helvetica", sans-serif;
	text-transform: uppercase;
	padding-top: 40px;
	height: 70px;
	
}
.nav-options ul {
	margin-left: 700px;
	margin-bottom: 10px;
	float: right;	
}
.nav-options li {
	color: white;
	display: inline-block;
	float: right;
	margin: 10px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
	padding-bottom: 20px;
}

.thirdLink:hover {
	background-color: white;
	color: blue;
}

.thirdLink {
	font-weight: bold;
}


.left {
	position: relative;
	float: left;
	width: 39%;
	height: 550px;
	background-color: #B9D7D9;
	margin-bottom: 10px;
	text-align: center;
}

.right {
	position: relative;
	float: right;
	width: 60%;
	height: 550px;
	background-color: #F4EBC3;
	margin-bottom: 10px;
}
.location-div{
	background-color: white;
	color: black;
	font-family: Verdana, sans serif;
	width: 100%;
	max-height: 40px;
	font-size: 30px;
	border-bottom: 0.5px solid gray;
	padding-bottom: 10px;
}

.google-map {
  height: 100%; 
}

.page img{
	width: 250px;
	height: 250px;
}



.explore-left{
	margin-top: 30px;
	background-color: #F1F1F1;
	border-radius: 5px;
	height: 600px;
	text-align: center;
}

.explore-right{
	margin-top: 30px;
	height: 600px
}

.date{
	/*border: 2px solid orange;*/
	font-family: sans-serif;
	font-size: 25px;
	height: 40px;
	text-align: center;
}
.weather-widget{
	margin-top: 20px;
	border: 2px solid gray;
	background-color: white;
	height: 300px;

}
.heading{
	text-align: center;
	font-size: 80px;
	color: black;
	max-height: 80px;
	padding: 18px;
	font-weight: bold;
	font-family: 'Indie Flower', cursive;
	text-shadow: 4px 4px 4px #aaa;
}

.makeItinerary-button {
	border: 2px solid white;
	background-color: #0080ff;
	border-radius: 12px;
	color: black;
	padding: 8px;
	font-size: 25px;
	text-align: center;
	margin-top: 8px;
	text-decoration: none;
}

.makeItinerary-button:hover {
	background-color: black;
	text-decoration: none;
	color: white
}

.itineraryTitle {
	font-family: arial;
}

.toDo {
	border: 1px solid black;
}