.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
* {
	box-sizing: border-box;
	transition: .3s;
}

body {
	padding: 0;
	margin: 0;
}

.main-pg {
	background: url("images/background.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 300px;
	padding-top: 40px;
	padding-left:40px;
}

.esc {
	height:150px;
	width: auto;
	margin-top: 0
	border: 1px solid blue;
}
/*
.login {
	text-align: right;
	display: inline-block;
	padding-left: 800px;
	position: relative;
	transform: translate(0, -150px);
}*/

.account {
	border: 2px solid white;
	border-radius: 20%;
	color: white;
	text-decoration: none;
	padding: 15px;
	font-size: 20px;
	margin: 10px;
}
.login a:hover{
	text-decoration: none;
	color: black;
}

.title {
	text-align: center;
	font-size: 60px;
	margin-top: 50px;
	color: white;
	font-family: Gotham;
	
}
.slogan {
	text-align: center;
	font-family: didot;
	font-size: 25px;
	color: white;
}
.start{
	border: 2px solid #40A6E8;
	background-color: #64AEE8;
	border-radius: 10%;
	padding: 10px;
	text-decoration: none;
}

.get-started {
	text-align: center;
	font-size: 25px;
/*	margin-top: 50px;*/
	color: white;
	position: relative;
	transform: translate(0, -250px);
}

.getapp {
	text-align: center;
	font-size: 20px;
	color: white;
	position: relative;
	transform: translate(0, -150px);
}

#app-pg {
	height: 1000px;
	transform: transition(.3);
}

.navbar {
	height: 100px;
	background-color: #296DD4;
}

.nav-esc {
	height: 60px;
	margin-top: 15px;
	margin-left: 15px;
}

.nav-options {
	color: white;
	font-style: Arial;
}
/*.appDetails img {
	width: auto;
	height:25%;
}

li {
	display:inline-block;
}

.appDetails li p {
	color: black;
}
*/
.iPhone_block {
	display: inline-block;
	width: 100%;
	margin: 0px auto;
	position: center;
	padding-left: 45px;
}

ul {
	display: inline-block;
	width: 33.333%;
	float: left;
	margin: 0px auto;
}

li {
	text-decoration: none;
	color: black;
	text-align: center;
	margin: 0px auto;
	display: inline-block;
}

.list_block {
	display: inline-block;
	width: 33.3333%;
	margin: 0px auto;
}

hr{
	height: 3px;
	background: solid black;
	margin: 40px auto;
	width: 1000px;
}

.stepHeader {
	text-align: center;
/*	outline: 1px solid orange;*/
}

.stepOne {
	text-align: center;
	margin-top: 100px;
	margin-left: -150px;
	margin-right: 100px;
}

.stepTwo {
	text-align: center;
	margin-top: 100px;
	margin-left: 100px;
}

.stepThree {
	text-align: center;
	margin-top: 100px;
}

.stepFour {
	text-align: center;
	margin-top: 200px;
	margin-right: 275px;
	margin-left: -200px;
}

.backgroundOne {
	background: url(images/cape-town-scenery.jpeg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.backgroundTwo {
	background: url(images/rome.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.backgroundThree {
	background: url(images/stockholm.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.backgroundFour {
	background: url(images/bali.jpg);
	-webkit-background-size:cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.left {
	position: relative;
	float: left;
	width: 40%;
	height: 100%;
	background-color: #B9D7D9;
	margin-bottom: 10px;
	text-align: center;
}

.right {
	position: relative;
	float: right;
	margin-bottom: 10px;
}