* {
	box-sizing: border-box;
	transition: .3s;
}

body {
	padding: 0;
	margin: 0;
}

.main-pg {
	background: url("images/background.jpg");
	background-size: cover;
	padding-bottom: 60px;
	padding-top: 40px;
	padding-left:40px;
	background-position: center center;
    height: 100vh;
    position: relative;
}

.top-left {
	position: absolute;
	top: 10px;
	left: 20px;
}

.esc {
	height:100px;
	width: auto;
	margin-top: 0;
}

.title {
	font-size: 60px;
	color: white;
	font-family: Arial;
	display: inline;
	margin-left: 20px;
	margin-top: 10px;	
}

.top-right {
	position: absolute;
	top: 10px;
	right: 10px;
}

.mytrips-button {
	border: 2px solid white;
	border-radius: 20%;
	color: white;
	padding: 15px;
	font-size: 20px;
	display: inline;
	float: right;
	margin-right: 20px;
	margin-top: 8px;
}

.mytrips-button:hover {
	background-color: white;
}

.slogan {
	text-align: center;
	font-family: Arial;
	font-size: 40px;
	color: white;
	margin-top: 170px;
}

.app-button {
	height: 150px;
	width: auto;
	display: block;
	margin: 0 auto;
}

.down-arrow {
	height: 100px;
	width: auto;
	display: block;
	margin: 0 auto;
	margin-top: 200px;
}


/*"choose your itinerary" chunk*/

.itinerary {
	height: 400px;
	background-color: #F1F1F1;
	position: relative;
}
.iphone1 {
	height: 380px;
	float: right;
	margin-right: 200px;
	margin-top: 21px;
}
.text1 {
	width: 600px;
	position: absolute;
	top: 130px;
	left: 200px;
	text-align: center;
}
.title1 {
	margin: 0;
	display: inline;
	font-size: 50px;
}
.description1 {
	font-size: 30px;
	padding-top: 10px;
}


/*"list of activities" page*/
.activities {
	height: 400px;
	background-color: white;
	position: relative;
}
.iphone2 {
	height: 380px;
	float: left;
	margin-left: 200px;
	margin-top: 21px;
}
.text2 {
	width: 600px;
	position: absolute;
	top: 130px;
	right: 150px;
	text-align: center;
}
.title2 {
	margin: 0;
	display: inline;
	font-size: 50px;
}
.description2 {
	font-size: 30px;
	padding-top: 10px;
}

/*"map your route" page*/
.map {
	height: 400px;
	background-color: #F1F1F1;
	position: relative;
}
.iphone3 {
	height: 380px;
	float: right;
	margin-right: 200px;
	margin-top: 21px;
}
.text3 {
	width: 600px;
	position: absolute;
	top: 130px;
	left: 150px;
	text-align: center;
}
.title3 {
	margin: 0;
	display: inline;
	font-size: 50px;
}
.description3 {
	font-size: 30px;
	padding-top: 10px;
}

/* just app button */

.download-app {
	height: 200px;
	background-color: white;
	position: relative;
}
.app-button2 {
	height: 150px;
	width: auto;
	position: absolute;
	left: 40%;
}

/* footer */

.footer {
	height: 200px;
	background-color: black;
	color: white;
	position: relative;
}

.footer-items {
	position: absolute;
	top: 50px;
	left: 100px;
}

.footer p {
	display: inline;
	padding: 50px;
}


/*
.login {
	text-align: right;
	display: inline-block;
	padding-left: 800px;
	position: relative;
	transform: translate(0, -150px);
}*/


/*.start{
	border: 2px solid #40A6E8;
	background-color: #64AEE8;
	border-radius: 10%;
	padding: 10px;
	text-decoration: none;
}*/

/*.learnmore {
	text-align: center;
	font-size: 20px;
	color: white;
	position: relative;
	transform: translate(0, -150px);
}*/

#app-pg {
	height: 1000px;
	transform: transition(.3);
}


/*mytrips page stuff*/
.navbar {
	height: 100px;
	background-color: #296DD4;
}

.nav-esc {
	height: 60px;
	margin-top: 15px;
	margin-left: 15px;
}

.nav-options {
	text-align: right;
	list-style: none;
	font-size: 12px;
	font-family: "Helvetica", sans-serif;
	text-transform: uppercase;
	padding-right: 20px;
	float: right;
	display: inline;

}

/*.appDetails img {
	width: auto;
	height:25%;
}

li {
	display:inline-block;
}

.appDetails li p {
	color: black;
}
*/
.iPhone_block {
	display: inline-block;
	width: 100%;
	margin: 0px auto;
	position: center;
	padding-left: 45px;
}

ul {
	display: inline-block;
	width: 33.333%;
	float: left;
	margin: 0px auto;
}

li {
	text-decoration: none;
	color: black;
	text-align: center;
	margin: 0px auto;
	display: inline-block;
}

.list_block {
	display: inline-block;
	width: 33.3333%;
	margin: 0px auto;
}

hr{
	height: 3px;
	background: solid black;
	margin: 40px auto;
	width: 1000px;
}

.stepHeader {
	text-align: center;
/*	outline: 1px solid orange;*/
}

.stepOne {
	text-align: center;
	margin-top: 100px;
	margin-left: -150px;
	margin-right: 100px;
}

.stepTwo {
	text-align: center;
	margin-top: 100px;
	margin-left: 100px;
}

.stepThree {
	text-align: center;
	margin-top: 100px;
}

.stepFour {
	text-align: center;
	margin-top: 200px;
	margin-right: 275px;
	margin-left: -200px;
}

.backgroundOne {
	background: url(images/cape-town-scenery.jpeg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.backgroundTwo {
	background: url(images/rome.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.backgroundThree {
	background: url(images/stockholm.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.backgroundFour {
	background: url(images/bali.jpg);
	-webkit-background-size:cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.left {
	position: relative;
	float: left;
	width: 39%;
	height: 550px;
	background-color: #B9D7D9;
	margin-bottom: 10px;
	text-align: center;
}

.right {
	position: relative;
	float: right;
	width: 60%;
	height: 550px;
	background-color: #F4EBC3;
	margin-bottom: 10px;
}
.location-div{
	background-color: white;
	color: black;
	font-family: Verdana, sans serif;
	width: 100%;
	max-height: 40px;
	font-size: 30px;
	border-bottom: 0.5px solid gray;
	padding-bottom: 10px;
}

.google-map {
  height: 100%; 
}

