<div class="row">
	<div class="heading col-md-10 col-md-offset-1 ">Cape Town, South Africa</div>
</div>

<div class="date">12 Aug 2015</div>

<div class="activities">
	<h4>Select what you would like to do</h4>
</div>
<form name="activityForm">
  <ul>
  <li  style="list-style:none;">
    <input type="radio" ng-model="dining" value="public" />
    Dining
    <input type="radio" ng-model="nightife" 
    value="private" id="custom_venuetype_private" />
    Night Life
     <input type="radio" name="custom_type" 
    value="private" id="custom_venuetype_private" />
    Museums
     <input type="radio" ng-model="museums"
    value="private" id="custom_venuetype_private" />
    Sight See
     <input type="radio" ng-model="outdoors" 
    value="private" id="custom_venuetype_private" />
    Outdoors
     <input type="radio" ng-model="shopping" 
    value="private" id="custom_venuetype_private" />
    Shopping
  </li>
</ul>
 </form>
<div class="weather-widget"></div>
<div class="myItinerary" ng-hide="itinerary.show"></div>
<div class="map" ng-hide="map.show"></div>