

<div class="main-pg">
	<div class="top-left">
		<img class="esc" src="images/esc.png">
		<div class="title">escape</div>
	</div>

	<div class="top-right">
		<a class="mytrips-button" href="#/mytrips">My Trips</a>
	</div>

	<div class="slogan">Your on-the-go travel guide</div>

	<img class="app-button" src="images/appstore.png">
	<a href="#itinerary-pg"><img class="down-arrow" src="images/arrow-down-white.png"></a>

</div>


<div class="itinerary" id="itinerary-pg">
	<img class="iphone1" src="images/iphone1.png">
	<div class="text1">
		<p class="title1">Create Your Own Itinerary</p>
		<p class="description1">Only three short steps to receive a personalized itinerary for the day.</p>
	</div>
</div>

<div class="activities">
	<img class="iphone2" src="images/iphone2.png">
	<div class="text2">
		<p class="title2">Create Your Own Itinerary</p>
		<p class="description2">Only three short steps to receive a personalized itinerary for the day.</p>
	</div>
</div>

<div class="map">
	<img class="iphone3" src="images/iphone3.png">
	<div class="text3">
		<p class="title3">Create Your Own Itinerary</p>
		<p class="description3">Only three short steps to receive a personalized itinerary for the day.</p>
	</div>
</div>

<div class="download-app">
	<img class="app-button2" src="images/appstore.png">
</div>

<div class="footer">
	<div class="footer-items">
		<p> App Store </p>
		<p> FAQ </p>
		<p> Why Escape? </p>
		<p> Contact Us </p>
	</div>
</div>



