<ng-include src="'templates/header.html'"></ng-include>
<div class="left">
  <div class="location-div">Cape Town, South Africa</div>

  <h3 class="itineraryTitle"><strong>Itinerary for July 22, 2016</strong></h3>

  <div class="toDo" ng-repeat="task in newItinerary">

    <p>Start Time: {{task.StartTime}}</p>
    <p><strong>{{task.Description}}</strong>
      {{task.Event}}
    </p>
    <p>Type: {{task.Tag}}</p>

  </div>
</div>
<div class="right">
  <map ng-transclude class="google-map" center="map.center" options="map.options"> 

    <!-- <points coords="points.coords" options="points.options" events="points.events" decimals="points.decimals"></points> -->

  </map>
</div>
