<div class="navbar">
 <img class="nav-esc" src="images/esc.png">
 <div class="nav-options">
  My Trips
  Explore 
  New Trip 
</div>
</div>

<div class="left">
  <div class="location-div">Cape Town, South Africa</div>
  <h4>Select what you would like to do</h4>
  <div class="activities">
   <ul>
    <p><input ng-model="nightLife" type="checkbox"/>Night Life</p>
    <p><input ng-model="museums" type="checkbox"/>Museums</p>
    <p><input ng-model="outdoors" type="checkbox"/>Outdoors</p>
    <p><input ng-model="shopping" type="checkbox"/>Shopping</p>
  </ul>
</div>
</div>
<div class="right">
  <div class="map">Map goes here
  </div>
</div>
